.shiny-progress-container{
    position: fixed;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background-color: rgba(240,240,240, 0.2);
    background-repeat:no-repeat;
    background-position: center center;
}

.shiny-progress-container .progress-text{
  width: 400px;
  height: 210px;
  top 1px;
  font-size: 195%;
  left: 10px;
  right: 10px;
  text-align: center;
  line-height: 200px;
  background-color: rgba(255,255,255, 1);
  border: 2px solid #00578a;
  position: fixed;
  margin: auto;
}

.shiny-progress-container .progress.active{
  height: 10px;
  position: fixed;
  left: 0%;
  right: 0%;
  background: lightgray;

}



  
  